<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row">
        <div class="container" style="margin-top:20px">
            <a href= {% url 'listshows' 0%}><button type="button" class="btn btn-outline-primary slideup">Mystery/Action</button></a>
            <a href= {% url 'listshows' 1%}><button type="button" class="btn btn-outline-success slideright">Drama/Distopian</button></a>
            <a href= {% url 'listshows' 2%}><button type="button" class="btn btn-outline-danger slideleft">Comedy</button></a>
            <a href= {% url 'listshows' 3%}><button type="button" class="btn btn-outline-info slidetopleft">Popular Shows</button></a>
        </div>
    </div>
</div>

</body>
</html>