<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="row" style="margin: 5%">
        <div class="col-12">
        <div class="row" style=" display: flex; justify-content: center;">
            <h1>Hello director {{director.0.director_username}}!</h1>
        </div>
        <div class="row" style=" display: flex; justify-content: center;">
            <p>Nationality : {{director.0.nation}}</p>
        </div>
        <div class="row" style=" display: flex; justify-content: center;">
            <p>Platform Name : {{director.0.platform_name}}</p>
        </div>
        <form
        class="form-group"
        method="POST"
        action="{% url 'directorAddMovie' %}"
      >
        {{add_movie_form}} {% csrf_token %}
        <button
          type="submit"
          style="margin-top: 10px"
          class="btn btn-success"
        >
          Add
        </button>
      </form>
      <form
      class="form-group"
      method="POST"
      action="{% url 'directorAddPredeccor' %}"
    >
      {{add_predeccor_form}} {% csrf_token %}
      <button
        type="submit"
        style="margin-top: 10px"
        class="btn btn-primary"
      >
        Add Predeccor
      </button>
    </form>
        <div class="row">
            <div class="col-12">
              <h1>Movies of {{username}}</h1>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Movie Id</th>
                    <th scope="col">Movie Name</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Genres</th>
                    <th scope="col">Predeccors</th>

                  </tr>
                </thead>
                <tbody>
                  {% for directorMovie in directorMovies %}
                  <tr>
                    <td>{{directorMovie.movie_id }}</td>
                    <td>{{directorMovie.movie_name}}</td>
                    <td>{{directorMovie.duration}}</td>
                    <td>{{directorMovie.genre}}</td>
                    <td>{{directorMovie.predeccors}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
    <div class="row" style="margin: 5%">
        <div class="col-12">
          <h1>Movie Sessions of {{username}}</h1>
          <form
          class="form-group"
          method="POST"
          action="{% url 'directorAddMovieSession' %}"
        >
          {{add_movie_session_form}} {% csrf_token %}
          <button
            type="submit"
            style="margin-top: 10px"
            class="btn btn-primary"
          >
            Add Movie Session
          </button>
        </form>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Movie Id</th>
                <th scope="col">Movie Name</th>
                <th scope="col">Theatre Id</th>
                <th scope="col">Theatre Name</th>
                <th scope="col">Time Slot</th>
                <th scope="col">Date</th>
                <th scope="col">District</th>
                
              </tr>
            </thead>
            <tbody>
              {% for directormovie in directorMovieSessions %}
              <tr>
                <td>{{ directormovie.movie_id }}</td>
                <td>{{directormovie.movie_name}}</td>
                <td>{{directormovie.theatre_id}}</td>
                <td>{{ directormovie.theatre_name }}</td>
                <td>{{directormovie.time_slot}}</td>
                <td>{{directormovie.date}}</td>
                <td>{{directormovie.district}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
    <div class="row" style="margin: 5%">
        <div class="col-12">
          <h1>Theatres Info</h1>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Theatre Id</th>
                <th scope="col">Theatre Name</th>
                <th scope="col">Theatre Capacit</th>
                <th scope="col">District</th>
                
              </tr>
            </thead>
            <tbody>
              {% for theatre in theatres %}
              <tr>
                <td>{{theatre.theatre_id }}</td>
                <td>{{theatre.theatre_name}}</td>
                <td>{{theatre.theatre_capacity}}</td>
                <td>{{theatre.district }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
  </body>
</html>
