<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{genre}}</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    {% include "tutorial_app/buttons.html" %}
    {% if shows %}
    <ul>
        {% for show in shows %}
            <li>Show name: {{ show.name }} <br>Score: {{ show.score }}<br><br></li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No shows for user {{name}}!</p>
    {% endif %}
</body>
</html> 